 body {
    margin: 0;
    background: black;
    color: white;
    font-family: papyrus, arial, sans-serif;
}

  #again, #start{
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    padding: 0.8em 1.4em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    color: #646464;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);;
  }
  #game-container, #end-container {  
    display:none;
  }
  #buttons-container{
    display:flex;
    justify-content: center;
  }
  h1,h2,h3, p, #start-container{
    display:block;
    text-align: center;
    margin-top: 6%;
    
  }
  button{
    width: 200px;
    height: 200px;
    color:white;
    border: 1px solid white;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 5px;
  }
  button img {
    width: 150px;
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
  }

  #again:hover , #start:hover{
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.05);
  }
  
